[defaults]
inventory = ansible/inventory
host_key_checking = False
retry_files_enabled = False
vault_password_file = /opt/cicd-project/.vault_pass

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
